/* src/components/CardDetail/CardDetail.css */
.card-detail {
    padding: 20px;
    text-align: center;
  }
  
  .card-detail img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  .card-detail h2 {
    margin-bottom: 10px;
  }
  
  .card-detail p {
    margin-bottom: 20px;
  }
  